<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>



<form accept-charset="UTF-8" action="/movies" class="form-inline">
  <input name="utf8" type="hidden" value="&#x2713;" />
  
    <input type="checkbox" id="rating_g" name="rating[]" value="G" class="form-check-input mb-2 mr-2"/>
    <label for="rating" class="form-check-label mb-2 mr-5">G</label>
  
  
    <input type="checkbox" id="rating_pg" name="rating[]" value="PG" class="form-check-input mb-2 mr-2"/>
    <label for="rating" class="form-check-label mb-2 mr-5">PG</label>
 
  
    <input type="checkbox" id="rating_pg_13" name="rating[]" value="PG-13" class="form-check-input mb-2 mr-2"/>
    <label for="rating" class="form-check-label mb-2 mr-5">PG-13</label>
  
  
    <input type="checkbox" id="rating_r" name="rating[]" value="R" class="form-check-input mb-2 mr-2"/>
    <label for="rating" class="form-check-label mb-2 mr-5">R</label>
  
    <input type="checkbox" id="rating_nc_17" name="rating[]" value="NC-17" class="form-check-input mb-2 mr-2"/>
    <label for="rating" class="form-check-label mb-2 mr-5">NC-17</label>
  
  
  <input name="commit" type="submit" value="Search" class="btn btn-primary mb-2"/>
</form>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th id="title" class=<%= @css_title %>><%= link_to "Movie Title", :sort => "title" %></th>
      <th>Rating</th>
      <th id="release_date" class=<%= @css_release_date %>><%= link_to "Release Date", :sort => "release_date" %></th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>